extends layout.pug

block content
  br
  section#content
    div.card-deck
      div.card.bg-light
        div.card-body
          h2.card-title=text
          if hint
            div.card-text
              i Hint: #{hint}
              br
          div.card-text
            br
            br
            div.row.card-text
              a(href=`${id}?side=${url}`,class='col-md-6 text-center card-link btn btn-info') #{change}<!-- literal synatx of js -->
              
              a(href='/cards',class='col-md-6 text-center btn btn-warning') Random Card
        